<h1>PRUEBAS DE CONFIGURACION</h1>
<BR>
    <h2> Post a /issuers </h2>
    <form method="POST" action="/issuers">
    	<input name="id_app"/>
    	<input name="name"/>
    	<input name="url"/>
    	<input type="submit" value="Enviar"/>
    </form>
    <br>

    <h2>Post a /badges </h2>
    <form method="POST" action="/badges">
    	<input name="name" placeholder="name"/>
    	<input name="description" placeholder="desc"/>
    	<input name="criteriaUrl" placeholder="criteria"/>
    	<input name="imageUrl" placeholder="image"/><br>
    	<input type="submit" value="Enviar"/>
    </form>