<h1>PRUEBAS DE CONFIGURACION</h1>
<BR>
    <h2> Post a /issuers </h2>
    <form method="POST" action="/issuers">
    	<input name="id_app" placeholder="id_app"/>
    	<input name="name" placeholder="name"/>
    	<input name="url" placeholder="url"/>
    	<input type="submit" value="Enviar"/>
    </form>
    <br>

    <h2>Post a /badges </h2>
    <form method="POST" action="/badges">
    	<input name="name" placeholder="name"/>
    	<input name="description" placeholder="desc"/>
    	<input name="criteriaUrl" placeholder="criteria"/>
    	<input name="imageUrl" placeholder="image"/><br>
    	<input type="submit" value="Enviar"/>
    </form>

    <h2>Post a /issuers/bfcrowd/badges </h2>
    <form method="POST" action="/issuers/bfcrowd/badges">
        <input name="name" placeholder="name"/>
        <input name="description" placeholder="desc"/>
        <input name="criteriaUrl" placeholder="criteria"/>
        <input name="imageUrl" placeholder="image"/><br>
        <input type="submit" value="Enviar"/>
    </form>

    <h2>Post a /badges/05def15a92bcef885fdf56ee036cae2f/instances</h2>
    <form method="POST" action="/badges/05def15a92bcef885fdf56ee036cae2f/instances">
        <input name="email" placeholder="email"/>
        <input type="submit" value="Enviar"/>
    </form>

    <h2>Post a /issuers/bfcrowd/badges/6e26448ab2a26a336fc6bcf4d860037d/instances</h2>
    <form method="POST" action="/issuers/bfcrowd/badges/6e26448ab2a26a336fc6bcf4d860037d/instances">
        <input name="email" placeholder="email"/>
        <input type="submit" value="Enviar"/>
    </form>

    <h2>Post a /issuers/galaxy_conqueror/badges/51329afa95e5e0ffe948b330b5dbbbdd/instances</h2>
    <form method="POST" action="/issuers/galaxy_conqueror/badges/51329afa95e5e0ffe948b330b5dbbbdd/instances">
        <input name="email" placeholder="email"/>
        <input type="submit" value="Enviar"/>
    </form>

    <h2>POST a /carga-json</h2>
    <form method="POST" action="/carga-json">
        <textarea name="json_data"></textarea>
        <input type="submit" value="Enviar">
    </form>